/* Header container */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 950px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 0.9rem;
  text-transform: uppercase;
  z-index: 1;
  position: absolute;
}

/* Left and Right Header Containers */
.header-left,
.header-right {
  display: flex;
  align-items: center;
}

/* Header Left Styling */
.header-left {
  gap: 2rem;
  padding-top: 1rem;
}

.logo img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

/* List Items in Left Header */
.header-left li {
  list-style: none;
  cursor: pointer;
  position: relative;
}

/* Dropdown content styling */
.dropdown-content {
  display: none;
  position: fixed;
  left: 0;
  top: 4rem;
  z-index: 1000;
  width: 80%;
  background-color: #fff;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  color: #381fd1;
  gap: 1rem;
  text-transform: none;
  padding: 1rem;
  visibility: hidden;
}

.dropdown-content.show {
  display: flex;
  visibility: visible;
}

.dropdown-column {
  display: grid;
  min-width: 100px;
  grid-template-columns: 1fr 1fr;
}

.dropdown-column li {
  font-size: 1rem;
  color: #381fd1;

}

.dropdown-content p {
  width: 100%;
  margin-top: 0.5rem;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}

/* Header Right Styling */
.header-right {
  gap: 1rem;
}

.login-button,
.header-start-button {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: #381fd1;
  text-transform: uppercase;
  cursor: pointer;
}

.header-start-button {
  color: #381fd1;
  background-color: white;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
}

.menu-toggle-button {
  display: none;
  background: #381fd1;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.header-page-section-menu-content {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header-right-mobile {
  display: none;
}

@media (max-width: 768px) {
  .header {
    padding: 1rem 2rem;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    width: 100%;
  }

  .header-page-section-menu-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 3rem 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    gap: 20px;
    z-index: 999;
  }

  .header-page-section-menu-content.open {
    display: flex;
    align-items: flex-start;
  }

  .header-page-section-menu-content li {
    color: #381fd1;
  }

  .menu-toggle-button {
    display: block;
  }

  .header-right {
    display: none;
  }

  .dropdown-content {
    position: relative;
    top: 0;
    gap: 0;
    flex-direction: column;
    width: 100%;
  }

  .dropdown-column p {
    display: none;
  }

  .header-right-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
  }

  .login-button-mobile,
  .start-button-mobile {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    color: #381fd1;
    text-transform: uppercase;
    cursor: pointer;
  }

  .start-button-mobile {
    background-color: #381fd1;
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 4px;
  }
}